AUTHORS
build/*
build-stamp
ChangeLog
api-ref/build/
cover/
covhtml/
dist/
doc/build
*.DS_Store
*.pyc
neutron_lib.egg-info/
neutron_lib/vcsversion.py
neutron_lib/versioninfo
pbr*.egg/
releasenotes/build
setuptools*.egg/
*.log
*.mo
*.sw?
*~
/.*
!/.coveragerc
!/.gitignore
!/.gitreview
!/.mailmap
!/.pylintrc
!/.testr.conf
